a{
    text-decoration: none;
    color: white;
}

header{
    color: white;
}

body{
    background-color: black;
}

#mamiferos{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent; 
    cursor: pointer;
}   

#mamiferos::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/564x/5e/c8/8f/5ec88f7eb68455315d4f3dae76035c2b.jpg");
    border-radius: 10px;
    transition: all 500ms ease-out;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0; 
    pointer-events: none;
}
#mamiferos:hover::after {
    opacity: 1; 
  }

.contenido{
    width: 40%;
    height: 100%;
    margin: auto;
    
    
}

.foto-animals-tipo{
    height: 200px;
    width: 200px;
}

footer{
    color: whitesmoke;
}
.animales{
    border: 0.1px solid;
    border-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
@media all and (max-width: 450px){
    .contenido{
        display: flex;
        flex-direction: column;
    }
    .animales{
        width: 100%;
    }
} 